.archive-e-c-main-without-card {
    width: 600px;
    height: auto;
    margin: 30px 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgb(86, 155, 151);
    padding: 10px;

}