
# Backend (.NET)
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Pp]ublish/
TestResults/
artifacts/
*.swp

# Ortam değişkenleri / secrets
.env

# Node
node_modules/
.npm/
*.tgz
.eslintcache
.vite/
coverage/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# logs
*.log
logs/

# IDE
.idea/

# typescript
*.tsbuildinfo