.my-regisired-event-card-container {
  width: 450px;
  height: 300px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px grey;
  background-color: white;
  position: relative;
}
.my-registered-event-card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
}
